.subMenuBar{
    width: 100%;
    height: 30px;

    display: flex;

    align-items: center;

    background: $steam-gradient-1;

    position: fixed;
    top: 50px;

    z-index: 3;
    border-bottom: 1px solid $black-2;

   
}

.subMenuBarButton{
    color: white;
    cursor: pointer;

    margin: 0 10px;
    
}
  

/// PROJECT MODAL


.projectsContainer {
 display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 1.5rem;
  padding: 10px;
  width: 100%;            
  box-sizing: border-box;  
}





    

















  .projectCardTitle{
    display: inline-block;
    cursor: pointer;

    &:hover{
      color: $red-1;
    }
  } 

  .project-actions button {
    background: none;
    border: none;
    cursor: pointer;
    color: $blue-1;
    font-size: 16px;

    &:hover {
      color: $red-1;
    }
  }















  .projectCardLink{
    text-decoration: none;
    color: $blue-1;

    &:hover{
      color: $red-1;
    }
  }






  ////PROJECT DESCRIPTION
  /// 
  
  .projectInputDiv {
    display: flex;
    flex-direction: column;
  }
  
  .projectInputLabel {
    font-weight: bold;
    font-size: 1rem;
  }

  .truncate-4-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

}


  


  










